.jumbotron {
    background-color: rgb(248, 245, 245);
    height: fit-content;
    width: 100%;
}

.light-background-color {
    background-color: #adcff5;
}

.white-background-color {
    background-color: rgb(255, 255, 255);
}

.main-header-text {
    font-family: 'Inconsolata', monospace;
}

.regular-text {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Inconsolata', monospace;
    font-family: 'Jura', sans-serif;
    font-family: 'Kavivanar', cursive;
    font-family: 'Sanchez', serif;
}

.hr-customized {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.custom-margin-left {
    padding-left: 5%;
}

.rounded-circle{
    border:1px solid;
    border-radius:50%;
    width:50%;
    height:60%;
}

footer {
    background-color: rgb(248, 245, 245);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.padding-left {
    padding-left: 5%;
}

.cpgrid a {
    width: 100%;
    height: 100%;
}

.little-margin-left {
    margin-left: 2px;
}

.small-field {
    max-width: 50%;
}

.medium-field {
    max-width: 70%;
}

input, label, select {
    display: block;
}

.card-body {
    background-color: rgba(187, 133, 133, 0.040);
}

textarea {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}